body{margin: 0 auto; overflow-x: hidden; background-color: burlywood;}

.container{width: 100vw; margin: 0 auto;}

.panel{height: 100vh; background-color: burlywood;}

.pics{display: flex; flex-direction: row;}
.pics img{width: 100%;}