body{margin: 0; font-size: 1.5rem;}

nav{position: sticky; top: 0; transition: all .6s ease-in-out; background-color: burlywood; color: white;}

ul{margin: 0; padding: 40px;display: flex;justify-content: flex-end; list-style: none;}

li{margin-right: 60px;}

.panel{background-color: burlywood; height: 100vh;}

.nav-active{background-color: white; color: black;}

p{padding-top: 50px;margin: 0 auto; min-width: 1200px;}