body {
  min-height: 500vh;
  margin:0;
  background-color: #111;
  background-image:
    linear-gradient(rgba(255,255,255,.07) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.07) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.06) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.06) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.box {
  width:100px;
  height:100px;
  box-sizing:border-box;
  border:10px solid grey;
  margin-top:100px;
  margin-bottom:100px;
}

.box-1 {background-color:green;}
.box-2 {background-color:gold;}
.box-3 {background-color:blue;}
.box-4 {background-color:red;}